@import 'commons/var.scss';
@import 'commons/mixins.scss';
@import 'template/template_default.scss';

.link_reg{
	color: $colorlink1;
}
.input_password{
	@include block_relative;
}
.btn_sign_in{
	@include color_btn1;
}
.btn_sign_in:hover{
	background-color: $colorbtnhover1;
}
.forgot_password_link{
	color: $colorlink1;
}
.not_eyes_btn_password{
	@include btn_eyes_password;
}
.horizontal_line_under_forms{
    width: 98%;
    position: relative;
    left: 1%;
    right: 1%;
    height: 1.5px;
    background-color: #e2e5f1;
    margin: 10px 0;
}
.not_eyes_btn_password{
	@include btn_eyes_password;
}
.eyes_btn_password{
	@include btn_eyes_password;
	display: none;
}
.switch_eyes_password:hover .not_eyes_btn_password{
	display: none;
}
.switch_eyes_password:hover .eyes_btn_password{
	display: block;
}
.btn_sign_network{
	background-color: $colorbtnNW;
	width: 40%;
}
.btn_sign_google{
	margin-right: 20px;
}
.btn_sign_facebook:hover{
	background-color: #1877f2;
}
.btn_sign_google:hover{
	background-color: #ea4335;
}
