@mixin color_btn1{
	position: relative;
	left: 1%;
    right: 1%;
	background-color: $colorbtn1;
	width: 98%;
}
@mixin block_relative{
	position: relative;
} 
@mixin btn_eyes_password{
	position: absolute;
	right: 1%;
	top: 55%;
	bottom: 0;
	color: #555;
}
@mixin btn_sign_network{
	background-color: $colorbtnNW;
	width: 40%;
	background-color: #eff2fc;
	color: #3e4265;
}