@mixin color_btn1{
	position: relative;
	left: 1%;
    right: 1%;
	background-color: $colorbtn1;
	width: 98%;
}
@mixin block_relative{
	position: relative;
} 
@mixin btn_eyes_password{
	position: absolute;
	right: 2%;
	top: 55%;
	bottom: 0;
	color: #555;
}