$color1: #fff;

$color_sidebar_font_user_name: #131022;
$color_sidebar_font_user_email: #585c7b;
$color_sidebar_font_change_photo: #3e4265;
$color_sidebar_font_menu_button: #3e4265;
$color_sidebar_font_nav_not_active: #585c7b;
$color_sidebar_font_nav_icons_active: rgba(255, 255, 255, .5);
$color_sidebar_font_nav_icons_not_active: rgba(88, 92, 123, .5);
$color_sidebar_font_nav_not_active_hover: #6366f1;
$color_sidebar_font_nav_icons_hover: rgba(99, 102, 241, .5);
$color_sidebar_font_nav_active: #fff;
$color_sidebar_backgroud: #fff;
$color_sidebar_backgroud_menu_button: #eff2fc;
$color_sidebar_background_nav_elements_hover: rgba(99, 102, 241, .2);
$color_sidebar_background_nav_elements_active: #6366f1;
$color_sidebar_background_nav_elrements_active_shadow: rgba(99, 102, 241, .3);
$color_sidebar_border_change_photo: #e2e5f1;


$color2: #6366f1;

$base_font_size: 16px;

